@model _24DH112135_MyStore.Models.Product

<head>
    <style>
        textarea{
            width:100%;
            height:150px;
            padding:12px 5px;
            box-sizing: border-box;
            border:1px solid #d7d1d1;
            border-radius:10px;
            background-color: whitesmoke;
            resize:none;
        }
        img {
            height: 150px;
            max-width: 200px;
        }
    </style>
</head>

<div class="form-group">
    <div class="control-label col-md-2">Danh Mục</div>
    <div class="col-md-10">
        @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2">Tên Sản Phẩm</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2">Mô Tả</div>
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.ProductDescription, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2">Đơn Giá</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2">Hình Ảnh</div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.ProductImage, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Thêm Sản Phẩm" class="btn btn-primary" />
        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
