@model _24DH112135_MyStore.Models.Product

<head>
    <style>
        img {
            height: 150px;
            max-width: 200px;
        }
    </style>
</head>

<div class="container-fluid">
    <div class="div-horizontal">
        <div class="col-md-4">
            <img src="@Html.DisplayFor(model => model.ProductImage)" />
        </div>
        <div class="col-md-8">
            <dl>
                <dt>Tên Sản Phẩm</dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>Mô Tả</dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>

                <dt>Giá</dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>

                <dt>Danh Mục</dt>
                <dd>
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>

                
            </dl>
        </div>
    </div>
</div>

