@model _24DH112135_MyStore.Models.ViewModel.ProductSearchVM
@using PagedList.Mvc;

<head>
    <style>
        img {
            height: 150px;
            max-width: 200px;
        }
        .pagination-container {
            display: flex;
            justify-content: left;
            margin-top: 20px;
        }

            .pagination-container ul.pagination {
                display: inline-flex;
                padding: 10px 15px;
                border: 1px solid #ccc;
                border-radius: 6px;
                background-color: #f9f9f9;
            }

                .pagination-container ul.pagination li {
                    margin: 0 3px;
                }

                    .pagination-container ul.pagination li a,
                    .pagination-container ul.pagination li span {
                        border: none;
                        color: #333;
                        padding: 6px 12px;
                        text-decoration: none;
                    }

                    .pagination-container ul.pagination li.active span {
                        background-color: #007bff;
                        color: white;
                        border-radius: 4px;
                    }

                    .pagination-container ul.pagination li a:hover {
                        background-color: #ddd;
                        border-radius: 4px;
                    }
    </style>
</head>
@if(Model.Products != null && Model.Products.Any())
{
    <h2 class="bg-success">Danh Sách Sản Phẩm</h2>
    <table class="table bg-info container-fluid">
        <thead>
        <tr>
            <th class="bg-success col-md-2">Hình Ảnh</th>
            <th class="bg-success col-md-2">Tên Sản Phẩm</th>
            <th class="bg-success col-md-1">Đơn Giá</th>
            <th class="bg-success col-md-2">Danh Mục</th>
            <th class="bg-success col-md-4"></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => product.ProductImage)" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Category.CategoryName)
                    </td>
                    <td>
                        @Html.ActionLink("Cập Nhật", "Edit", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Chi Tiết", "Details", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Xóa", "Delete", new { id = product.ProductID }, new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!--Hiển thị phân trang-->
    <div class="pagination-container">
        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new {page , SearchTerm = Model.SearchTerm, MinPrice = Model.MinPrice, MaxPrice = Model.MaxPrice, SortOrder = Model.SortOrder}),
            PagedListRenderOptions.ClassicPlusFirstAndLast
        )
    </div>
}
else
{
    <p>Không tìm thấy sản phẩm phù hợp</p>
}    
<div class="form-group">
    <div class="col-md-offset-8 col-md-4">
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>