@model _24DH112135_MyStore.Models.Order

@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<header>
    <h1>Chi Tiết Đơn Hàng</h1>
    <a href="@Url.Action("Index","Home")" class="btn-back">← Quay về Lịch Sử Đơn Hàng</a>
</header>
<h3>Thông tin đơn hàng</h3>
<div>
    <p><strong>Mã đơn hàng: </strong>@Model.OrderID</p>
    <p><strong>Ngày đặt hàng: </strong>@Model.OrderDate</p>
    <p><strong>Tổng số tiền: </strong>@Model.TotalAmount</p>
    <p><strong>Trạng thái thanh toán: </strong>@Model.PaymentStatus</p>
    <p><strong>Phương thức thanh toán: </strong>@Model.PaymentMethod</p>
    <p><strong>Phương thức giao hàng: </strong>@Model.ShippingMethod</p>
    <p><strong>Địa chỉ giao hàng: </strong>@Model.ShippingAddress</p>
</div>

<h3>Chi tiết đơn hàng</h3>
<table class="table">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Tổng giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice</td>
                <td>@item.TotalPrice</td>
            </tr>
        }
    </tbody>
</table>