@model _24DH112135_MyStore.Models.ViewModel.RegisterVM
@{
    ViewBag.Title = "ĐĂNG KÝ TÀI KHOẢN";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<style>
    .accountbtn {
        width: 275px;
        height: 40px;
        border: 1px solid #808080;
        margin: 5px;
        align-items: center;
    }
</style>

<div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-3">
                <h2 class="col-md-6">Đăng Ký Tài Khoản</h2>
            </div>

            @*Tên đăng nhập*@
            <div class="mb-3">
                @Html.LabelFor(model => model.Username, new { @class = "form-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Mật khẩu*@
            <div class="mb-3">
                @Html.LabelFor(model => model.Password, new { @class = "form-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            @*Xác nhận mật khẩu*@
            <div class="mb-3">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-label col-md-2" })
                <div class="col-md-4">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            @*Họ tên khách hàng*@
            <div class="mb-3">
                @Html.LabelFor(model => model.CustomerName, new { @class = "form-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerName)
                </div>
            </div>

            @*SĐT Khách hàng*@
            <div class="mb-3">
                @Html.LabelFor(model => model.CustomerPhone, new { @class = "form-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerPhone)
                </div>
            </div>

            @*Email khách hàng*@
            <div class="mb-3">
                @Html.LabelFor(model => model.CustomerEmail, new { @class = "form-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerEmail)
                </div>
            </div>

            @*Địa chỉ khách hàng*@
            <div class="mb-3">
                @Html.LabelFor(model => model.CustomerAddress, new { @class = "form-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAddress)
                </div>
            </div>

            <div class="mb-3">
                <div class="offset-md-2 col-md-4">
                    <input type="submit" value="Đăng Ký" class="btn btn-info accountbtn" /> <br />
                    <p>Bạn đã có Tài khoản? <a href="@Url.Action("Login","Account",null)">Đăng Nhập</a></p>
                </div>
            </div>
        </div>
    }
</div>